# === Archivos del sistema operativo ===
.DS_Store
Thumbs.db

# === Credenciales sensibles ===
.env
/api/credentials.json

# === Node (backend y frontend) ===
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json

# === Python (carpeta api/python) ===
api/python/venv/
api/python/__pycache__/
*.pyc
*.pyo
*.pyd

# === VS Code y temporales ===
.vscode/
__pycache__/

# === Logs y backups ===
*.log
*.bak

# === Docker ===
# Evita subir builds o basura generada
docker-compose.override.yml
**/.dockerignore
**/Dockerfile*

# === Evitar subir volúmenes de Docker ===
/volumes/
/data/
postgres-data/
pgadmin-data/

# === Impedimos subir los contenedores construidos ===
**/tmp/
**/.cache/
