# === Archivos del sistema operativo ===
.DS_Store
Thumbs.db

# === Credenciales sensibles ===
/api/credentials.json
.env

# === Node (backend y frontend) ===
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json

# === Python (carpeta api/python) ===
api/python/venv/
api/python/__pycache__/
*.pyc
*.pyo
*.pyd

# === VS Code y temporales ===
.vscode/
__pycache__/
.DS_Store
Thumbs.db

# === Logs y backups ===
*.log
*.bak
